header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
}

header #logo {
  margin-left: 30px;
  padding: 1px;
}

header nav {
  float: right;
}

header nav ul {
  display: flex;
  padding: 5px;
}

header nav ul li {
  margin-right: 30px;
}

body {
  background-image: url("pattern.jpg");
  height: 100%;
}

section {
  background-color: white;
  align-items: center;
  margin-top: 80px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  padding: 30px;
}
#article-list {
  margin-left: 5px;
  margin-right: 5px;
}

p {
  padding: 15px 0;
  border-bottom: 1px solid black;
}

footer {
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
}

h5 {
  color: white;
  text-align: center;
  padding: 25px;
}
